@import 'bloks/top-nav';
@import 'bloks/filtr-cotalog';

$coler-main:#F16D7F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}
// шрифт
button, input {
    font-family: inherit;
}
h2 {
       font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        color:#222222 ;
}
h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color:#000000;
}
// убираем стили ссылок

.link-stayl-none {
    text-decoration: none;
    color: transparent;
}
// убираем стили кнопок

.link-stayl-button {
    background-color: transparent;
    border: none;
}

// убираем текст
.text-none {
    position: absolute;
    margin-left: -99999999px;
    width: 1px;
    height: 1px;
   
}
// контейнер
.container {
    max-width: 1140px;
    margin: 0 auto;
    outline: 1px solid red;
}
.header {
height: 75px;
background: #222222;
color: #fff;
padding-top: 18px;
padding-bottom: 18px;
} 
.header-meny {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.meny-left, .meny-right {
    display: flex;
    align-items: center;

}
.fill-meny {
    fill: #fff;
}
.meny-right-meny:hover .fill-meny {
    fill: $coler-main;
}
.fill-user {
     margin-left: 25px; 
    fill: #fff;     
    }
.meny-right-user:hover .fill-user {
    fill: $coler-main; 
}    
.fill-basket {
    margin-left: 40px;
    fill: #fff;
}
.meny-right-basket:hover .fill-basket {
     fill: $coler-main;
}

.meny-left-logo {
    margin-right: 40px;
}
 
.top {
    background: #F1E4E6;
    margin-bottom: 65px;
}    
.top-container {
        
    height: 764px;
    background-image: url(../img/top_foto.png);
    background-repeat: no-repeat;
 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    // прижатие картинки к низу
    background-position-y: bottom;        
}   
.top-img {
    width: 50%;
}
.top-container-text {
    margin-right: 90px;

} 
.top-line {
    margin-right: 16px;
}    
.top-blok-text {
     display: inline-block;
}
.text-900 {
    font-size: 48px;
    font-weight: 900;
    line-height: 57px;
    color: black;         
}  
.text-700 {
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    color:#222222 ;
    letter-spacing: -1px;
}
.top-text-ping {
    color: $coler-main;
}
.centr {
    margin-bottom: 96px;
}    
.centr-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;     
}    
.centr-bottom {
    width: 100%;
    margin-top: 30px;
}
.centr-foto {
    width: 100%;
}
.centr-blok1 {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;     
}
.centr-blok-text {
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding-top: 105px; 
}
.blok4  {
    padding-top: 65px;
    
}
.centr-blok-text-top {
    color: #ffffff ;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.centr-blok-text-botton {
    color: $coler-main;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.goods-home {
    text-align: center;
    margin-bottom: 95px;
}
    .goods-home-blok-text {
      align-items: center;
     }
    .goods-3bloka {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .goods-home-blok {
        margin-bottom: 30px;
    }
    .goods-home-kart {
        background: #F8F8F8;
        width: 360px;
        display: flex;
        flex-direction: column;
    }
    .home1-foto {
       padding-bottom: 25px;
    }
    .text-centr {
        text-align: center;
    }
    .goods-home-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color:#9F9F9F;
        margin-top: 6px;
        margin-bottom: 48px;
    }
    .goods-home-h3 {
        padding-left: 18px;
    }
    .goods-text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: #5D5D5D;       
        margin-top:13px ;
        padding-left: 17px;
        padding-right: 28px;
    }
    .goods-price {
        color: $coler-main;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-top: 18px;
    }
    .home2-foto {
        display: block;
    }
    .background-goods {
        background: #F7E4E2;
        width: 360px;
        height: 420px;
        margin-bottom: 25px;
        text-align: center;
    } 
    .goods-button {
        margin-top: 48px;
        border: 1px solid #F26376;
        color: #F26376;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 39px;
        display: inline-block;
        &:hover {
            background-color: $coler-main;
            border-radius: 1px; 
            border-color:#FF6A6A;
            color: #fff;
            transition: 1s;            
        }
    }
    
.offer {
    background: #222224;
}   

    .offer-blok {
      list-style: none;
      padding-top: 104px;
      padding-bottom: 104px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .offer-blok--content {
      width: 360px;
      height: 133px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: end;
      
    }
    .offer1 {
       background-image: url(../img/offer1.svg);
       
       
    }
    .offer2 {
       background-image: url(../img/offer2.svg); 
       
    }
    .offer3 {
        background-image: url(../img/offer3.svg);
       
    }
    .offer1, .offer2, .offer3 {
        color: $coler-main;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 1px;
    }
    .offer-h3 {
     font-size: 20px;
     font-weight: 400;
     line-height: 24px;
     color: #FBFBFB;
     margin-bottom: 16px;      
    }
    .offer-p {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: #FBFBFB;
    }
.subscription{
    background-image: url(../img/fon-subscription.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}    
    .subscription-comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 448px;
        justify-content:space-around;        
    }
    .comment {
        text-align: center;
        width: 360px;
        height: 225px; 
    }
    .comment-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color:#222224;
    }
    .comment-text--italic {
        font-style: italic;
    }
    .subscription-form {
        text-align: center;
        color: #222224;
        width: 557px;              
    }
    .subscription-form--subscribe {
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        color:#222224;
; 
         
    }
    .subscription-form--for {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color:#222224;  
    }
    .subscribe-form--class {
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }
    .subscribe-field {
        padding: 20px;
	    background-color: #E1E1E1;
	    border: none;
	    border-top-left-radius: 25px;
	    border-bottom-left-radius: 25px;
	    color: #000000;
    }
    .subscribe-field::placeholder {
        color: #222224;
    }
    .subscribe-booton {
        padding: 20px;
	    background-color: $coler-main;
	    border: none;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 25px;
	    color: #fff;
    }
.footer {
    width: 100%;
    background: #222224;
    height: 80px;
}
    .footer-blok {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    }
    .footer-text--p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #FBFBFB;
    }
    .social {
    list-style: none;
    display: flex;
    gap: 8px;        
    }   
    .social-link {
         
        width: 32px;
        height: 32px;
        color: #000000;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        display: flex;
        &:hover {
        color: #ffffff;
        background-color: $coler-main;       
        }
    }
 .video-promo {
    margin-bottom: 25px;
 }
 .pagination {
    width: 284px;
    height: 44px;
    outline: 1px solid #E5E5E5;
    margin-top: 48px;
 }
 .pagination-list {
    display: flex;
    padding: 15px 0px;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
 }   
.pagination-icon {
    fill: #000000;
}
.pagination-link {
    background:none;
    border: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #C4C4C4;
}
.pagination-link--activ {
    color: $coler-main;
}
.pagination-link--separator {
    margin: 0 -20px;
}