.top-nav {
  background: linear-gradient(-45deg, #F8F3F4, #ffc6dc9f, #F8F8F8, #ffffffef);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-nav-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav-heiding {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.top-nav-meny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.top-nav-list {
  list-style: none;
}

.top-nav-list::before {
  content: '/';
  margin-right: 10px;
}

.top-nav-list:first-child::before {
  display: none;
}

.top-nav-link {
  text-decoration: none;
  color: #636363;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.top-nav-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-nav-link-current {
  font-weight: bold;
  color: #F16D7F;
}

.filter-icon {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}

.filter-icon:hover {
  fill: #F16D7F;
}

.filter-icon:active {
  fill: #F16D7F;
}

.filter-selection-blok {
  display: inline-block;
}

.filter-selection-list {
  width: 360px;
}

.filter-sorting {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  z-index: 1;
  padding-right: 25px;
}

.filter-sorting-container {
  width: 360px;
}

.filter-sorting
summary::-webkit-details-marker {
  display: none;
}

.filter summary {
  display: block;
}

.filter-sorting[open] > .filter-icon {
  fill: #F16D7F;
  outline: none;
  border: none;
}

.fiter-content {
  position: absolute;
  width: 360px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
  padding: 15px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 65px;
  padding-top: 51px;
}

.blok-none {
  width: 360px;
}

.goods-home-catalog {
  margin-bottom: 50px;
}

.filter-sorting summary {
  color: #EF5B70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-title summary {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.21);
  margin-bottom: 18px;
  height: 32px;
}

.filter-title summary:before {
  content: url(../img/filtr-line.svg);
  padding-right: 10px;
}

.filter-list {
  list-style: none;
  padding-top: 24px;
  padding-bottom: calc(24px - 11px);
}

.filter-item {
  text-decoration: none;
  color: transparent;
  padding-bottom: 11px;
}

.filter-link {
  text-decoration: none;
  color: transparent;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: calc(34px - 15px);
  gap: 11px;
}

.filter-selection {
  width: 360px;
}

.filter-selection-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-selection-component {
  background: none;
  border: none;
  text-decoration: none;
  color: #6F6E6E;
}

.filter-selection-component:hover {
  color: #F16D7F;
}

.filter-selection-icon {
  fill: #6F6E6E;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-size {
  padding-right: 25px;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.fiter-content-size {
  position: absolute;
  width: 79px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
  padding: 10px;
  z-index: 1;
}

.size-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.size-filter {
  margin-bottom: 9px;
}

.forn-l {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

button, input {
  font-family: inherit;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}

h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
}

.link-stayl-none {
  text-decoration: none;
  color: transparent;
}

.link-stayl-button {
  background-color: transparent;
  border: none;
}

.text-none {
  position: absolute;
  margin-left: -99999999px;
  width: 1px;
  height: 1px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.meny-right-cart:hover .header-burger {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-burger {
  z-index: 1;
  width: 100%;
  right: 0px;
  top: 76px;
  position: absolute;
  background-color: #ffffff;
  width: 232px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  padding-bottom: 137px;
}

.header-burger-category {
  list-style: none;
}

.header-burger-text {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-top: 37px;
  padding-left: 34px;
  padding-bottom: 24px;
}

.header-burger-group {
  color: #F16D7F;
  padding-left: 24px;
  padding-bottom: 12px;
}

.header-burger-section {
  padding-bottom: 12px;
}

.header-burger-group-link {
  color: #6F6E6E;
  padding-left: 54px;
  padding-bottom: 12px;
}

.header {
  height: 75px;
  background: #222222;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-meny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meny-left, .meny-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fill-meny {
  fill: #fff;
}

.meny-right-meny:hover .fill-meny {
  fill: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fill-user {
  margin-left: 25px;
  fill: #fff;
}

.meny-right-user:hover .fill-user {
  fill: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fill-basket {
  margin-left: 40px;
  fill: #fff;
}

.card__close-menu {
  top: 16px;
  right: 17px;
  position: absolute;
  border: none;
  background-color: transparent;
  color: #575757;
  cursor: pointer;
}

.meny-right-basket:hover .fill-basket {
  fill: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.meny-left-logo {
  margin-right: 40px;
}

.top {
  background: #F1E4E6;
  margin-bottom: 65px;
}

.top:hover .top-line {
  -webkit-transform: scale(1.2) translate(318px, 0px) rotate(90deg);
          transform: scale(1.2) translate(318px, 0px) rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.top:hover .text-900 {
  color: #F16D7F;
  -webkit-transition: 1s;
  transition: 1s;
}

.top:hover .text-700 {
  color: #F16D7F;
  -webkit-transition: 1s;
  transition: 1s;
}

.top:hover .top-text-ping {
  color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-container {
  height: 764px;
  background-image: url(../img/top_foto.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position-y: bottom;
}

.top-img {
  width: 50%;
}

.top-container-text {
  margin-right: 90px;
}

.top-line {
  margin-right: 16px;
}

.top-blok-text {
  display: inline-block;
}

.top-text-ping {
  color: #F16D7F;
}

.text-900 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57px;
  color: black;
}

.text-700 {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  color: #222222;
  letter-spacing: -1px;
}

.centr {
  margin-bottom: 96px;
}

.centr-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centr-bottom {
  width: 100%;
  margin-top: 30px;
}

.centr-foto {
  width: 100%;
}

.centr-blok {
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blok1 {
  background-image: url(../img/dlok1.png);
  background-color: #5D5D5D;
}

.blok2 {
  background-image: url(../img/blok2.png);
  background-color: #5D5D5D;
}

.blok3 {
  background-image: url(../img/blok3.png);
  background-color: #5D5D5D;
}

.blok4 {
  background-image: url(../img/blok4.png);
  background-color: #5D5D5D;
  width: 1142px;
  height: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centr-blok-text {
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.centr-blok-text:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.centr-blok-text-top {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.centr-blok-text-botton {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.goods-home {
  text-align: center;
  margin-bottom: 95px;
}

.goods-home-blok-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-home-blok {
  margin-bottom: 30px;
  text-align: left;
}

.goods-home-kart {
  background: #F8F8F8;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods-home-h3 {
  padding-left: 18px;
}

.goods-home-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
  margin-bottom: 48px;
}

.home-cart-hover {
  position: relative;
}

.goods-home-kart:hover .card__overlay {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__overlay {
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(10%) rotate(5deg) scale(0.5);
          transform: translateY(10%) rotate(5deg) scale(0.5);
}

.card__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  gap: 11px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer;
}

.card__btn::before {
  content: url(../img/basket.svg);
}

.goods-3bloka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home1-foto {
  padding-bottom: 25px;
  display: block;
}

.text-centr {
  text-align: center;
}

.goods-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  padding-left: 17px;
  padding-right: 28px;
}

.goods-price {
  color: #F16D7F;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 18px;
}

.home2-foto {
  display: block;
}

.background-goods {
  background: #F7E4E2;
  width: 360px;
  height: 420px;
  margin-bottom: 25px;
  text-align: center;
}

.goods-button {
  margin-top: 48px;
  border: 1px solid #F26376;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 39px;
  display: inline-block;
  -webkit-box-shadow: 5px 5px 5px 0px #b4b4b4;
          box-shadow: 5px 5px 5px 0px #b4b4b4;
}

.goods-button:hover {
  background-color: #F16D7F;
  border-radius: 1px;
  border-color: #FF6A6A;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.goods-button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 1px #c2c0c0;
          box-shadow: 0 1px #c2c0c0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.offer {
  background: #222224;
}

.offer-blok {
  list-style: none;
  padding-top: 104px;
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-blok--content {
  width: 360px;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.offer-h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.offer-p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
}

.offer1 {
  background-image: url(../img/offer1.svg);
}

.offer2 {
  background-image: url(../img/offer2.svg);
}

.offer3 {
  background-image: url(../img/offer3.svg);
}

.offer1, .offer2, .offer3 {
  color: #F16D7F;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 1px;
}

.subscription {
  background-image: url(../img/fon-subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 448px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscription-form {
  text-align: center;
  color: #222224;
  width: 557px;
}

.subscription-form--subscribe {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}

.subscription-form--for {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
}

.subscribe-form--class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
}

.comment {
  text-align: center;
  width: 360px;
  height: 225px;
}

.comment-sub {
  margin-bottom: 20px;
}

.comment-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

.comment-text--italic {
  font-style: italic;
}

.subscribe-field {
  padding: 22px;
  background-color: #E1E1E1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #000000;
  border: none;
  outline: none;
  width: 256px;
}

.subscribe-field::-webkit-input-placeholder {
  color: #222224;
}

.subscribe-field:-ms-input-placeholder {
  color: #222224;
}

.subscribe-field::-ms-input-placeholder {
  color: #222224;
}

.subscribe-field::placeholder {
  color: #222224;
}

.subscribe-booton {
  padding: 20px;
  background-color: #F16D7F;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
}

.subscribe-booton:hover {
  background-color: #e71632;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  width: 100%;
  background: #222224;
  height: 80px;
}

.footer-blok {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text--p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.social-link {
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link:hover {
  color: #ffffff;
  background-color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video-promo {
  margin-bottom: 25px;
}

.pagination {
  width: 284px;
  height: 44px;
  outline: 1px solid #E5E5E5;
  margin-top: 48px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pagination-icon {
  fill: #000000;
}

.pagination-link {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #C4C4C4;
  cursor: pointer;
}

.pagination-link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #F16D7F;
}

.pagination-link--activ {
  color: #F16D7F;
}

.pagination-link--separator {
  margin: 0 -20px;
}

.product-slider {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 777px;
}

.product-slider--button-left {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
}

.product-slider--button-riht {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
}

.product-button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: font-weight 250ms;
  transition: font-weight 250ms;
}

.product-specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  border: 1px solid #EAEAEA;
  padding-bottom: 65px;
  margin-bottom: calc(130px - 64px);
  -webkit-transform: translateY(-64px);
          transform: translateY(-64px);
}

.product-specification-link {
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #F16D7F;
}

.product-specification-link:hover {
  color: #ffffff;
  fill: #ffffff;
}

.product-specification-colection {
  padding-top: 65px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #F16D7F;
}

.product-specification-line {
  margin: 12px;
}

.product-specification-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-specification-description {
  font-weight: 300;
  color: #5E5E5E;
  font-size: 14px;
  line-height: 17px;
}

.product-specification-blok {
  display: inline-block;
  width: 555px;
  margin-bottom: 32px;
  text-align: center;
}

.product-specification-noun {
  fill: #EAEAEA;
  font-size: 1.01px;
  margin-bottom: 65px;
}

.product-specification-noun:hover {
  fill: #EF5B70;
}

.product-specification-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #F16D7F;
  margin-bottom: 65px;
}

.product-specification-btn {
  margin-top: 49px;
  margin-bottom: 2px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  width: 211px;
  height: 48px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px 0px #b4b4b4;
          box-shadow: 5px 5px 5px 0px #b4b4b4;
  fill: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-specification-btn:hover {
  background-color: #F16D7F;
  border-radius: 1px;
  border-color: #FF6A6A;
  color: #ffffff;
  background-color: #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product-specification-btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 1px #c2c0c0;
          box-shadow: 0 1px #c2c0c0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.product-specification-btn:hover {
  fill: #ffffff;
}

.product-specification-cart {
  margin-right: 23px;
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice__name {
  margin-bottom: 62px;
  font-weight: 400;
  color: #222222;
  font-size: 24px;
  line-height: 29px;
}

.choice-card {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 55px;
  position: relative;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.choice-card__blok {
  margin-top: 28px;
  margin-left: 33px;
}

.choice-card__quantity {
  border: none;
  border-width: 1px;
  border: 1px solid #A4A4A4;
  background-color: #ffff;
  width: 44px;
  height: 24px;
  text-align: center;
}

.choice-card__item {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #656565;
}

.choice-card__item_price {
  color: #F16D7F;
}

.card__close {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
  background-color: transparent;
  color: #575757;
  cursor: pointer;
}

.shipping-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choice-button-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.choice-card__quantity {
  color: #656565;
  margin-left: 24px;
  padding-left: 13px;
}

.choice-btn {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffff;
  border: none;
  border-width: 1px;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  -webkit-box-shadow: 2px 2px 2px 0px #b4b4b4;
          box-shadow: 2px 2px 2px 0px #b4b4b4;
  display: inline-block;
}

.choice-btn:hover {
  background-color: #F16D7F;
  border-radius: 1px;
  border-color: #FF6A6A;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.choice-btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 0px #c2c0c0;
          box-shadow: 0 0px #c2c0c0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.choice-form {
  margin-left: 128px;
}

.shipping-form {
  gap: 20px;
}

.shipping-form__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  width: 360px;
  border: none;
  border-width: 1px;
  border: 1px solid #A4A4A4;
}

.shipping-form
.shipping-form__button {
  cursor: pointer;
  margin-top: 3px;
  border: none;
  border-width: 1px;
  border: 1px solid #A4A4A4;
  background-color: #ffff;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 102px;
}

.shipping-form
.shipping-form__button:hover {
  background-color: #F16D7F;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choice-order {
  margin-top: 57px;
  width: 360px;
  height: 240px;
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
}

.choice-order-btn {
  text-align: center;
  margin: 17px 44px 42px 44px;
  padding: 16px 43px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  width: 275px;
}

.choice-order-btn:hover {
  border: none;
  border-width: 1px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choice-order-text {
  text-align: end;
  padding-right: 37px;
  color: #4A4A4A;
}

.choice-order-text-min {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
}

.choice-order-text-big {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.choice-order-text-price {
  color: #F16D7F;
}

.choice-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.registration-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  margin-bottom: 96px;
  gap: 128px;
}

fieldset {
  border: none;
  width: 360px;
}

.regform-name {
  color: #222222;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.regform-field {
  margin-bottom: 20px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 13px;
  width: 100%;
}

.regform-field::-webkit-input-placeholder {
  color: #B1B1B1;
}

.regform-field:-ms-input-placeholder {
  color: #B1B1B1;
}

.regform-field::-ms-input-placeholder {
  color: #B1B1B1;
}

.regform-field::placeholder {
  color: #B1B1B1;
}

.reg-radio {
  margin-right: 10px;
}

.reg-radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
  margin-top: 11px;
}

.reg-radio-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fofm-radio {
  color: #000000;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-right: 20px;
}

.reg-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
  margin-bottom: 39px;
}

.reg-btn {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  background-color: #F16D7F;
  color: #ffffff;
  fill: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border: 1px solid #F16D7F;
}

.reg-btn-svg {
  margin-left: 20px;
  margin-right: 20px;
}

.reg-btn:hover {
  background-color: #ffffff;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  fill: #F16D7F;
}

.advantage-heiding {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.advantage-text {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.advantage-list {
  list-style: none;
}

.advantage-li {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.advantage-li::before {
  content: url(../img/reg-tab.svg);
  margin-right: 23px;
}
/*# sourceMappingURL=style.css.map */