.top-nav {
    background-color: #F8F3F4;
    margin-bottom: 51px;
}
.top-nav-centr {
    display: flex;
    align-items: center;
    height: 148px;
    justify-content: space-between;
}
.top-nav-blok {
    
}
.top-nav-heiding {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
.top-nav-meny {
    display: flex;
    gap: 20px;
}
.top-nav-list {
    list-style: none;
    &::before {
        content: '/';
        margin-right: 10px;
    }
    &:first-child::before {
        display: none;
      }    
    }
.top-nav-link {
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px; 
    font-weight: 300;
  &[href]:hover {
    text-decoration: underline;
    color: #F16D7F;
  }
}
.top-nav-link-current {
    font-weight: bold;
    color: #F16D7F;
}