.top-nav {
    background-color: #F8F3F4;

&-centr {
    display: flex;
    align-items: center;
    height: 148px;
    justify-content: space-between;
}
&-heiding {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
&-meny {
    display: flex;
    gap: 20px;
}
&-list {
    list-style: none;
    &::before {
        content: '/';
        margin-right: 10px;
    }
    &:first-child::before {
        display: none;
      }    
    }
&-link {
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px; 
    font-weight: 300;
  &[href]:hover {
    text-decoration: underline;
    color: #F16D7F;
    transition: 0.3s;
  }
}
&-link-current {
    font-weight: bold;
    color: #F16D7F;
}
}